* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
}
.backG.container-fluid.pt-3 {
  background-image: linear-gradient(
      15deg,
      rgba(34, 193, 195, 0.8) 0%,
      rgba(253, 187, 45, 0.4) 100%
    ),
    url(../src/images/background.jpg);
  background-color: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
